<%= form_for(@invite) do |f| %>
    <div class="form-group">
      <%#= current_user.id %><br>
      <%= f.email_field :email, class: 'form-control' %><br>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit 'invite this', class: 'btn btn-info' %>
    </div>
<% end %>