<div class="col-md-6">
  <% if @invite_count <= 0 %>
      <%= 'Sorry, you have to ask the Lord for five more invitations' %><br><br>
      <%= button_to 'Ask God', {action: 'dele'}, method: 'get', class: 'btn btn-default' %>
  <% elsif @invite_count > 0 %>
      <%= render 'form' %>
      Du kannst noch <b><%= pluralize(@invite_count, 'Mensch', plural='Menschen') %></b>  hierher einladen!
  <% end %><br>
</div>
