<% provide(:title, 'about') %>
<div class="row">
  <div class="col-md-5 well well-sm about">
    <h4>about us</h4>
    <p>
      ist-ur.org ist ein Projekt, das nichts einbringt und zu nichts nutze ist.
      Es werden keine Einnahmen generiert und es wird darauf geachtet, die Ausgaben
      niedrig zu halten.
      <br>
      &nbsp;&nbsp;&nbsp;Diese Plattform wurde geschaffen, um das Programmieren zu lernen und zu vertiefen.
      Das gelingt jetzt nicht so schlecht, aber es ist halt kein Profiwerk, und diesen
      Anspruch wird es so schnell auch nicht geben.
      <br>
      &nbsp;&nbsp;&nbsp;Plattformen, wie die hier vorliegende, gibt es schon zuhauf im Netz und in aller
      Regel wesentlich besser programmiert und gestaltet. Wer sich hier dennoch
      anmeldet, muss sich gewahr darüber sein, dass hin und wieder Bugs die Nutzung
      erschweren. Wir bitten in diesem Fall von Beschwerden abzusehen.
      Konstruktive Kritik ist willkommen, die Beteiligten wissen, wo diese zu deponieren ist,
      die Nichtbeteiligten können über <%= link_to 'das Kontaktformular', new_contact_path %>
      mitteilen, wenn was schief rennt.
      <br>
      &nbsp;&nbsp;&nbsp;Es kann sich hier prinzipiell jeder und jede registrieren und Postings verfassen und
      mit anderen Usern interagieren.
      Das viel diskutierte Thema Privacy geht selbstredend auch an uns nicht vorüber.
      <br>
      &nbsp;&nbsp;&nbsp;
      Grundsätzlich:
      Privat ist hier nichts. Genauso wie im Rest des Internets. Mancherorts wird einem das zwar vorgegaukelt,
      aber grundsätzlich gilt, wenn ein User irgendwas, sei es ein Bild oder ein Ereignis besonderer
      Bedeutung (sogenannte sensible Daten), nicht in der Öffentlichkeit wissen will, so darf er das weder im Internet noch
      auf ist-ur.org posten. Punkt.
    </p>
  </div>
</div>

<style>
  .about {
      color: #000;
  }

  .about a {
      color: #05f;
  }

</style>
