<% if user_signed_in? %>
    <div class="row">

      <%= render 'shared/sidebar' %>

      <div class="col-md-8">
        <h4>the postings</h4>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center jumbotron">

        <h2>ist - ur . org</h2>
        <p>welcome to ist - ur . org</p>
        <%= link_to 'sign up', new_user_registration_path, class: 'btn btn-lg btn-warning' %>
        &nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
        <%= link_to 'sign in', new_user_session_path, class: 'btn btn-lg btn-danger' %>
    </div>
<% end %>