<div class="row">
  <div class="col-md-4">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-md-6">
    <%= render 'notifications' %>
    <%= paginate @notifications %>
  </div>

</div>
