<span id="join_group">
    <%# if @group.membership?(@group, current_user) %>
        <%= render 'unjoin' %>
        <%= render 'shared/micropost_form' %>
        <%= render 'group_microposts' %>
    <%# else %>
        <%= render 'join' %>
    <%# end %>
</span>
