<ul>
  <% if user.avatar_url.nil? %>
    <%= image_tag user.gravatar_url, width: 52, class: 'img-circle' %>
  <% else %>
    <%= image_tag user.avatar, width: 52, class: 'img-circle' %>
  <% end %>

  <h4><%= link_to user.name, user %></h4>

  <%#= if current_user.admin? && !current_user == user %>
    <%#= link_to 'delete', user, method: :delete, confirm: 'you sure?' %>
  <%# end %>
</ul>