<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <div class="container">
    <div class="general">
      subject: <%= @subject %>
    </div>


    <blockquote>
      <div class="general comment_body">
        <%= raw @message.body %>
      </div>
    </blockquote>

    <div class="general">
      from: <b><%= @message.sender.name %></b>
    </div>

    <div class="general">
      Visit <%= link_to conversation_url(@message.conversation.id), conversation_url(@message.conversation.id) %> and have a look!!
    </div>
  </div>

  </body>
</html>

<style>

    .container {
        max-width: 500px;
        border: 1px solid #999;
        border-radius: 5px;
        margin: 0px auto;
    }

    .general {
        padding: 20px;
        text-align: center;
        line-height: 1.6em;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 1.0em;
    }

    a {
        text-decoration: none;
        color: #0055ff;
    }

    .comment_body {
        background-color: #eee;
        color: #333;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-family: arial, helvetica, sans-serif;
        font-size: 1.3em;
    }

</style>
