<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: sans-serif; font-size: 12px;">
    <p style="background: #eee; padding: 10px; border-radius: 5px; max-width: 300px;">
      subject: <%= @subject %>
    </p>

    <p style="background: #eee; padding: 10px; border-radius: 5px; max-width: 300px;">
      from: <%= @message.sender.name %>
    </p>


    <blockquote>
      <p style="background: #eee; padding: 10px; border-radius: 5px; max-width: 300px;">
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Visit <%= link_to messages_url, messages_url %> and have a look!!
    </p>
  </body>
</html>
