<div class="navbar navbar-bottom">
  <div class="container">
    <ul class="nav nav-pills nav-stacked">
      © 2017 |
      <%= link_to 'about us', about_path %> |
      <%= link_to 'contact us', new_contact_path %>
    </ul>
  </div>
</div>