<% @user ||= current_user %>


  <div class="stats">
    connections
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      <!-- connected with  -->
    </a>
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      <!--  connected by -->
    </a>
  </div>

