<%= link_to image_tag(current_user.gravatar_url, width: 80, class: 'img-rounded'), current_user %>
<h3><%= current_user.name %></h3>
<span><%= link_to 'view my profile', current_user %></span>
<span><%= pluralize(current_user.microposts.count, 'micropost') %></span>