<% if user_signed_in? %>
    <div class="row">
      <aside class="col-md-4">
        <%= render 'shared/current_user_info' %>
      </aside>
      <div class="col-md-5">
        <%= render 'microposts/edit_form' %>
      </div>
    </div>
<% end %>
