<div class="row">
  <aside class="col-md-4">
    <% if user_signed_in? %>
        <%= render 'shared/sidebar' %>
    <% else %>
        <%= render :text => 'meine herren' %>
    <% end %>
  </aside>
  <div class="col-md-8">
    <ol class="microposts">
      <%= render @micropost %>
    </ol>

  </div>




</div>