<div class="row">
  <div class="col-md-4">
        <%#= render 'shared/user_info' %>
  </div>

  <div class="col-md-6">
    <ol class="microposts">
      <%= render @micropost %>
    </ol>

  </div>
</div>
