<section class="sidebar_kasten">
  <%= render 'shared/stats' %>
</section>

<section class="sidebar_kasten">
<%= render 'shared/mailbox_badge_messages' %>
</section>

<section class="sidebar_kasten">
  <%= render 'shared/mailbox_badge_notifications' %>
</section>
